h1{
    background-color: blue;
    color: aqua;
}

body{
    margin: 0px;
}
#miParrafo{
    background-color: brown;
}

.parrafo{
    border-style: solid;
}

#imagen01{
    width: 10%;
    border: 0%;

}

#formacion{
    max-width: 50%;
}