
body{
    margin: 0px;
    padding-left: 2%;
}
#miParrafo{

    background-color: brown;
}

.parrafo{
    border-style: solid;
}

#imagen01{
    width: 10%;
    border: 0%;

}

#formacion{
    max-width: 50%;
}