
body {
    background: rgb(255, 255, 255);
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20%;
    text-align: justify;
}

.rows {
    border: 3px solid rgb(0, 0, 0);
    padding: auto;
    width: 50%;
}

.cs {
    border: 3px solid rgb(0, 0, 0);
    padding: auto;
}

#imagen {
    width: 100%;
}