body{
    background-color: rgb(242, 226, 190);
   
}
h1{
    color: rgb(255, 218, 126);
    
}
.lp-hero{
  background: url("Assets/Hamburguesa1.png") center/cover no-repeat;
  height: 25vh;               
  display: flex;
  justify-content: center;
  align-items: center;
}
#tablaProductos .producto{
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin: auto;
    text-align: center;
    
}

#tablaProductos .detalles{
    vertical-align: middle;
    font-size: 40px;
    width: 50%;
    padding: 2em;
    text-align: center;
     
}
#Footerp{
    padding: auto;
    text-align: center;
}
